[submodule "tools"]
	path = tools
	url = https://github.com/computations/lagrange_tools
	ignore = dirty
[submodule "subprojects/nlopt"]
	path = subprojects/nlopt
	url = https://github.com/stevengj/nlopt.git
