[submodule "tools"]
	path = tools
	url = https://github.com/computations/lagrange_tools
	ignore = dirty
[submodule "deps/nlopt"]
	path = deps/nlopt
	url = https://github.com/stevengj/nlopt
[submodule "deps/lapack"]
	path = deps/lapack
	url = https://github.com/Reference-LAPACK/lapack-release.git
[submodule "deps/blis"]
	path = deps/blis
	url = https://github.com/flame/blis
	ignore = dirty
