name: Release

on: 
  push:
    tags: 
      - v*

jobs:

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            release-name: x86-linux
            c_compiler: gcc-14
            cpp_compiler: g++-14
            build_type: Release
          - os: macos-latest
            release-name: arm-mac
            c_compiler: clang
            cpp_compiler: clang++
            build_type: Release

    permissions:
      contents: write
    steps:

    - uses: actions/checkout@v4

    - name: Set reusable strings
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"
        echo "bin-output-dir=${{ github.workspace }}/bin" >> "$GITHUB_OUTPUT"
        echo "artifacts-dir=${{ github.workspace }}/artifacts" >> "$GITHUB_OUTPUT"

    - name: Configure CMake
      if: matrix.os != 'macos-latest'
      run: >
        cmake -B ${{ steps.strings.outputs.build-output-dir }}
        -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
        -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        -DBUILD_ONLY_STATIC=ON
        -DSTRIP_BINARY=ON
        -DPROVIDED_BUILD_VERSION=${{ github.ref_name }}
        -S ${{ github.workspace }}

    - name: Configure CMake
      if: matrix.os == 'macos-latest'
      run: >
        cmake -B ${{ steps.strings.outputs.build-output-dir }}
        -DCMAKE_CXX_COMPILER=$(brew --prefix llvm@18)/bin/${{ matrix.cpp_compiler }}
        -DCMAKE_C_COMPILER=$(brew --prefix llvm@18)/bin/${{ matrix.c_compiler }}
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        -DSTRIP_BINARY=ON
        -DPROVIDED_BUILD_VERSION=${{ github.ref_name }}
        -S ${{ github.workspace }}

    - name: Build
      run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }}

    - name: Rename
      shell: bash
      env:
        LAGRANGE_BIN_SRC: ${{ steps.strings.outputs.bin-output-dir }}/lagrange-ng
        LAGRANGE_BIN_DST: ${{ steps.strings.outputs.artifacts-dir }}/lagrange-ng-${{ matrix.release-name }}
      run: |
        mkdir -p ${{ steps.strings.outputs.artifacts-dir }}
        mv ${LAGRANGE_BIN_SRC} ${LAGRANGE_BIN_DST}
        xz ${LAGRANGE_BIN_DST}

    - name: Create Release
      uses: ncipollo/release-action@v1.18.0
      with:
        artifacts: ${{ steps.strings.outputs.artifacts-dir }}/lagrange-ng-${{ matrix.release-name }}.xz
        allowUpdates: true
